
/* --------------------------------------------------------- */
/* crud_table specific */

$green-text: #006600;
$red: #e33944;

$border-grey: #c0c0c0;
$header-background-color: #f5f7f7;
$header-foreground-color: rgba(0,0,0,0.54);
$row-border-color: rgba(189, 195, 199, 0.58);

$selected-row-background-color: rgba(0, 145, 234, 0.12);
$odd-row-background-color: #fcfdfe;
$row-height: 42px;
$font-size: 14px;
$icon-size: 24px;
$button-column-width: 45px;

.crudy-table {
    border: 1px solid $border-grey;
    font-size: $font-size;

    tr {
        line-height: $row-height;
        // header and data td's (excluding buttons)

        &.crudy-header-tr {
            background-color: $header-background-color; 
            color: $header-foreground-color;
            .crudy-th-button {
                width: $button-column-width;
            }
        }
        &.crudy-row-tr {
            border-bottom-width: 0.625px;
            border-bottom-color: $row-border-color;
            border-bottom-style: solid;
            &:nth-child(even) {
                background-color: $odd-row-background-color;
            }
            &.selected, &:nth-child(even).selected {
                background-color: $selected-row-background-color;
            }
        }

        .crudy-td, .crudy-th {
            .q-field--dense .q-field__control, .q-field--dense .q-field__marginal {
                height: $row-height;
            }
            input.q-field__input, input.q-field__native  {
                font-size: $font-size;
                line-height: 24px;
            }
            padding: 0 12px;

        }
        .crudy-column-button {
            padding: 0;
            i.q-icon {
                color: grey !important;
                line-height: 12px;
                font-size: $icon-size;
                padding: 0;
            }
            &.positive {
                i.q-icon {
                    color: $green-text;
                }
            }
            &.negative {
                i.q-icon {
                    color: $red;
                }
            }
        }
    }
}                
.crudy-th-name, .crudy-td-name { text-align: left; width: 200px;}
.crudy-th-age, .crudy-td-age { text-align: left; width: 100px; }

.crudy-button {
    margin-right: 12px;
    // font-weight: 600;
    // cursor: pointer !important;
    // padding-top: 0.75rem;
    // color: $primary !important;
    // font-size: 1rem !important;
    // line-height: 1.5rem;
}

.q-btn {
    &.crudy-column-button {
        border: none;
        margin: 0;
        // margin: 0 0 14px 0; // lift slightly to keep with quasar-added padding on inputs
    }
}

.crudy-input.q-field.q-field--with-bottom {
    padding-bottom: 0;
}

.crudy-row-tr:has(label.q-field--error) {
    .crudy-input {
        &.q-field--with-bottom {
            padding-bottom: 35px;
            // input.q-field__native {
            //     color: orange !important;
            // }
        }
    }
}

.confirm-dialog {
    .question {
        font-size: 120%;
        font-weight: 600;
    }
    .explanation {
        line-height: 10px;
    }
    .q-card {
        width: 400px;
        .confirm-button-row {
            column-gap: 20px;
            /*
            .confirm-button {
                font-weight: 600;
                cursor: pointer !important;
                padding-top: 0.75rem;
                color: $primary;
                font-size: 1rem;
                line-height: 1.5rem;
            }
            */
        }
    }
}
